{{#each objects}}
<article class="post post-type-{{type.name}}{{#if pending}} pending{{else}}{{#if from_sms}} from-sms{{else}}{{#if to_sms}} sms{{else}} no-sms{{/if}}{{/if}}{{#unless unread}} old{{/unless}}{{/if}}{{#if mine}} mine{{else}}{{#if unread}} unread{{/if}}{{/if}}{{#if attachments}} has-attachment{{/if}}" data-author-id="{{author_id}}" data-post-id="{{post_id}}" data-author-sequence="{{author_sequence_id}}" data-xhr-count="{{xhr_count}}" data-mark-read-url="{{mark_read_url}}">

  <header class="post-header">
    <time class="pubdate"{{#if timestamp}} datetime="{{timestamp}}"{{/if}} title="{{timestamp_display}}">
      {{timestamp_display}}
    </time>

    <h3 class="byline vcard">
      <span class="fn">{{#if school_staff}}{{author}}{{else}}{{role}}{{/if}}</span>
    </h3>

    {{#unless type.is_note}}
      <p class="recipients">
        {{#if type.is_message}}
          {{#if sms}}
            {{#if pending}}
              {{#if to_sms}}Sending text{{#plural sms_recipients}}s{{/plural}}{{#if sms_recipients}} to {{join sms_recipients ", "}}{{/if}}.{{/if}}
            {{else}}
              {{#if from_sms}}Sent from phone. {{/if}}
              {{#if to_sms}}Text{{#plural sms_recipients}}s{{/plural}} sent{{#if sms_recipients}} to {{join sms_recipients ", "}}{{/if}}.{{/if}}
            {{/if}}
          {{else}}
            No text messages sent.
          {{/if}}
        {{else}}
          {{#if present}}
            With {{join present ", "}}.
          {{/if}}
        {{/if}}
      </p>
    {{/unless}}
  </header>

  <div class="post-body">
    {{#if attachments}}
    <div class="attachments">
      <ul>
        {{#each attachments}}
        <li>{{#if ../pending}}{{name}}{{else}}<a href="{{url}}">{{name}}</a>{{/if}}</li>
        {{/each}}
      </ul>
    </div>
    {{/if}}
    <div class="post-text">
      <p>{{#if pending}}{{text}}{{else}}{{{text}}}{{/if}}</p>
    </div>
  </div>

</article>
{{/each}}
