{{#each posts}}
<article class="post {{#if local}} local{{else}}{{#if sms}} sms{{else}} no-sms{{/if}}{{#unless unread}} old{{/unless}}{{/if}}{{#if unread}} unread{{/if}}" data-author-id="{{author_id}}" data-post-id="{{post_id}}" data-author-sequence="{{author_sequence_id}}" data-xhr-count="{{xhr_count}}" data-mark-read-url="{{mark_read_url}}">

  <header class="post-meta">
    <h3 class="byline vcard">
      <b class="title">{{role}}:</b>
      <span class="fn">{{author}}</span>
    </h3>
    <time class="pubdate" datetime="{{timestamp}}" title="{{date}} at {{time}}">
      {{naturaldate}} at {{time}}
    </time>
  </header>

  <div class="post-body">
    {{#unless local}}
    <div class="sms-info" title="{{#if from_sms}}Received by text.{{else}}{{#if to_sms}}Text{{plural_sms}}{{else}}No texts{{/if}} sent.{{/if}}">
      {{#if from_sms}}Received by text. {{/if}}

      {{#if to_sms}}Text{{plural_sms}} sent{{#if sms_recipients}} to {{sms_recipients}}{{/if}}.{{/if}}

      {{#unless from_sms}}{{#unless to_sms}}No text messages sent.{{/unless}}{{/unless}}
    </div>
    {{/unless}}

    <p class="post-text">
      {{#if local}}{{text}}{{else}}{{{text}}}{{/if}}
    </p>
  </div>

</article>
{{/each}}
