{{#posts}}
<article class="post {{^local}}{{#sms}} sms{{/sms}}{{^sms}} no-sms{{/sms}}{{^unread}} old{{/unread}}{{/local}}{{#unread}} unread{{/unread}}{{#local}} local{{/local}}" data-author-id="{{author_id}}"{{#post_id}} data-post-id="{{post_id}}"{{/post_id}}{{#author_sequence_id}} data-author-sequence="{{author_sequence_id}}"{{/author_sequence_id}}{{#xhr_count}} data-xhr-count="{{xhr_count}}"{{/xhr_count}}{{#mark_read_url}} data-mark-read-url="{{mark_read_url}}"{{/mark_read_url}}>

  <header class="post-meta">
    {{^local}}
    <div class="sms-info details" title="{{#from_sms}}Received by text. {{/from_sms}}{{^to_sms}} No texts {{/to_sms}}{{#to_sms}} Text{{plural_sms}} {{/to_sms}} sent.">

      <div class="details-body" id="sms-post-{{post_id}}-details">
        {{#from_sms}} Received by text. {{/from_sms}}

        {{#to_sms}}
        Text{{plural_sms}} sent {{#sms_recipients}} to {{sms_recipients}}{{/sms_recipients}}.
        {{/to_sms}}

        {{^to_sms}}
        No text messages sent.
        {{/to_sms}}
      </div>

      <a href="#sms-post-{{post_id}}-details" class="summary">{{^sms}}no {{/sms}}text messages sent</a>

    </div>
    {{/local}}
    <h3 class="byline vcard">
      <b class="title">{{role}}:</b>
      <span class="fn">{{author}}</span>
    </h3>
    <time class="pubdate" datetime="{{timestamp}}">{{date}} at {{time}}</time>
  </header>

  <p class="post-text">
    {{#local}}{{text}}{{/local}}{{^local}}{{{text}}}{{/local}}
  </p>

</article>
{{/posts}}
