<h2 class="listitem title grouptitle">
  <a href="#" class="action-back groups" title="Go back to group list">Back</a>
  <a href="{{group_url}}" class="group-link ajax-link listitem-select" data-group-name="{{group_name}}" data-group-id="{{group_id}}" data-group-students-url="{{group_students_url}}" data-group-resource-url="{{group_resource_url}}" data-group-edit-url="{{group_edit_url}}" data-group-add-student-url="{{group_add_student_url}}" data-group-add-students-bulk-url="{{group_add_students_bulk_url}}">
    <span class="listitem-name">{{group_name}}</span>
  </a>
</h2>

<ul class="itemlist">
  {{> student_list_items}}
</ul>

{{#if staff}}
<div class="additems">
  {{#if group_add_students_bulk_url}}<a href="{{group_add_students_bulk_url}}" class="action-addbulk ajax-link additem-village">Signup Parents</a>{{/if}}
  {{#if group_add_student_url}}or <a href="{{group_add_student_url}}" class="action-addsingle ajax-link">add a student by hand »</a>{{/if}}
</div>
{{/if}}
